

/*profile navigation*/
.profile ul.profile-nav {
  margin-bottom: 30px;
}

.profile ul.profile-nav li {
  position: relative;
}

.profile ul.profile-nav li a {
  color: #557386;
  display: block;
  font-size: 14px;
  padding: 8px 10px;
  margin-bottom: 1px;
  background: #f0f6fa;
  border-right: solid 2px #c4d5df;
}

.profile ul.profile-nav li a:hover {
  color: #169ef4;
  background: #ecf5fb;
  text-decoration: none;
  border-right: solid 2px #169ef4;
}

.profile ul.profile-nav li a.profile-edit {
  top: 0;
  left: 0;
  margin: 0;
  color: #fff;
  opacity: 0.6;
  border: none;
  padding: 3px 9px;
  font-size: 12px;
  background: #000;
  position: absolute;
  filter: alpha(opacity=60);
  /*for ie*/
}

.profile ul.profile-nav li a.profile-edit:hover {
  text-decoration: underline;
}

.profile ul.profile-nav a span {
  top: 0;
  left: 0;
  color: #fff;
  font-size: 16px;
  padding: 7px 13px;
  position: absolute;
  background: #169ef4;
}

.profile ul.profile-nav a:hover span {
  background: #0b94ea;
}

 